* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  background-color: wheat;
}
article {
  margin: 50px;
  border-radius: 25px;
  padding: 20px;
  background-color: white;
}
img {
  border-radius: 25px;
}
svg {
  width: 24px;
  height: 24px;
}
svg,
p,
h2 {
  background-color: white;
}
button {
  border: 0;
  background-color: transparent;
}
